* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $primary;
  font-family: $font;
  color: $text-color;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}

#home {
  position: relative;
  margin-top: 0px;
  color: $text-color;
  background: url(../img/hero-img.jpg) no-repeat right center/cover fixed;
  height: 100vh;
  width: 100%;

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    /* Overlay */
    background: rgba(0, 0, 0, 0.4);
  }

  .hero-text h1 {
    font-family: $font-heading;
    margin: 0px 20px;
  }

  .hero-text p {
    font-family: $font;
    margin: 0px 30px;
  }

  .arrow-btn {
    position: absolute;
    top: 90vh;
    left: 50vw;
  }

  .arrow-btn i {
    font-size: 3rem;
    color: $text-color;
  }

  .arrow-btn i:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  .arrow {
    animation: bounce 3s infinite;
  }
}

#intro,
#jumbo {
  text-align: center;

  .intro-text,
  .jumbo-text {
    padding: 100px 0;
  }
}

#intro-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background: $secondary;

  .intro1-text p {
    font-size: 1.8rem;
    line-height: 2;
  }
}

#intro-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  .intro2-text p {
    font-size: 1.8rem;
    line-height: 2;
    max-width: 600px;
  }
}

#film-desc {
  display: flex;

  .film-desc-img,
  .film-desc-content {
    width: 50%;
  }

  // .film-desc-content {
  //   max-height: 900px;
  // }

  .film-desc-img {
    width: 50%;
    height: 920px;
    background: url(../img/film-desc.jpg) no-repeat center center/cover;
  }

  .film-desc-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    background: $secondary;
    padding: 40px;
  }

  .film-list li {
    font-size: 1.2rem;
    line-height: 2;
    list-style-type: none;
  }

  p {
    font-size: 1.2rem;
  }
}

#inspiration {
  a {
    color: $text-color;
  }

  .card {
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  .card img {
    border: none;
  }

  .card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    opacity: 0;
    padding: 0px;
    text-align: center;
    transition: ease-in 0.2s;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card:hover .card-hover {
    opacity: 1;
  }

  .title {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }

  p {
    text-align: left;
  }
}

#deadline {
  height: 50vh;
  width: 100%;
  background: url(../img/deadline.jpg) no-repeat center center/cover fixed;

  .deadline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Overlay*/
    background: rgba(0, 0, 0, 0.6);
    font-family: $font-heading;
  }
}

#tips {
  background: $secondary;

  .screen {
    width: 90%;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background: $primary;
    border: none;
  }

  p {
    max-width: 500px;
    margin: auto;
  }
}

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  .form-wrapper {
    width: 450px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    background: $secondary;
  }

  .form-wrapper input,
  textarea {
    margin: 15px 0;
    padding: 20px;
  }

  .form-wrapper textarea {
    padding: 10px 20px 50px;
  }

  .contact-text p {
    font-size: 1.4rem;
  }

  .button {
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
    background-color: $text-color;
    float: right;
  }

  .button:hover {
    background: rgba(255, 255, 255, 0.9);
  }
}

footer {
  background: $secondary;
  width: 100%;

  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer-nav {
    display: flex;
  }

  .footer-nav li {
    list-style-type: none;
  }

  .footer-nav li a {
    color: $text-color;
    font-family: $font-heading;
    font-size: 1rem;
  }

  .footer-nav li a:hover {
    color: rgba(255, 255, 255, 0.9);
  }

  hr {
    width: 80%;
    margin: auto;
    height: 0.01px;
    background: rgba(255, 255, 255, 0.2);
  }

  .social-list {
    display: flex;
    padding: 0;
    list-style-type: none;
  }

  .social-list li {
    margin: 5px;
  }

  .social-list li a {
    background: #fff;
    border-radius: 50%;
    color: #333;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 40px;
    width: 40px;
    text-decoration: none;
  }

  .social-list li a:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
  }
}
