@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }

  .navbar-brand img {
    width: 60px;
    height: 70px;
  }

  #home {
    background: url(../img/hero-img.jpg) no-repeat right center/cover;

    .hero-text h1 {
      font-size: 2.5rem;
    }
  }

  #intro {
    .intro-text h3 {
      font-size: 1.2rem;
      line-height: 2;
    }
  }

  #intro-1 {
    justify-content: left;

    .intro1-text p {
      font-size: 1.2rem;
      line-height: 1.4;
      padding: 0 25px;
    }
  }

  #intro-2 {
    flex-direction: column-reverse;

    .intro2-text p {
      font-size: 1.2rem;
      line-height: 1.4;
      padding: 0 25px;
    }

    .img {
      padding: 20px;
    }
  }

  #film-desc {
    .film-desc-img {
      display: none;
    }

    .film-desc-content {
      width: 100%;
      text-align: left;
    }

    .film-desc-content h2 {
      font-size: 1.3rem;
    }

    .film-desc-content p {
      font-size: 1rem;
    }

    .film-desc-content li {
      font-size: 1rem;
    }

    .film-desc-content h4 {
      font-size: 1rem;
    }
  }

  #deadline {
    background: url(../img/deadline.jpg) no-repeat center center/cover;

    .deadline-content h2 {
      font-size: 1.4rem;
      text-align: center;
    }

    .deadline-content h1 {
      font-size: 2rem;
      text-align: center;
    }
  }

  #jumbo {
    .jumbo-text h3{
      font-size: 1.2rem;
      line-height: 1.8;
      
    }
  }
}

@media screen and (min-width: 768px) {
  #deadline {
    .deadline-content h2 {
      font-size: 2rem;
      text-align: center;
    }

    .deadline-content h1 {
      font-size: 4rem;
      text-align: center;
    }
  }
}


@media screen and (max-width: 1024px) {
  #intro-1 {
    justify-content: center;

    .intro1-text p {
      font-size: 1.2rem;
      line-height: 1.4;
      padding: 0 25px;
    }
  }

  #intro-2 {
    flex-direction: column-reverse;

    .intro2-text p {
      font-size: 1.2rem;
      line-height: 1.4;
      padding: 0 25px;
    }

    .img {
      padding: 20px;
    }
  }

  #film-desc {
    .film-desc-img {
      display: none;
    }

    .film-desc-content {
      width: 100%;
      text-align: left;
    }
  }

  .contact-text {
    text-align: center;
  }

  #inspiration {
    a img {
      width: 100%;
      height: auto;
    }
  }

}