@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$primary: #1F1C1C;
$secondary: #343434;
$text-color: #fff;
$font-heading: 'Lexend Tera', sans-serif;
$font: 'Montserrat', sans-serif;
